config CLIPPER
    bool
    default y
    depends on ALPHA
    imply PCI_DEVICES
    imply TEST_DEVICES
    select M1543
    select TSUNAMI
    select AM29F016
    select DEC_PCI

config TSUNAMI
    bool
    default y
    depends on ALPHA
    select PCI
    select TIGBUS
    select BITBANG_I2C

config AM29F016
    bool
    select PFLASH_CFI02
    select TIGBUS

config TIGBUS
    bool
